@import url('https://fonts.googleapis.com/css?family=Itim');

body {
  font-family: 'Itim';
  font-size: 12px;
  margin: 20px;
  background: #282c34;
  color: #777777;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 50px 0px;
  font-size: 30px;
  color: #d4d4d4;
}

.square {
  background: #afafaf;
  border: 0px;
  border-radius: 15px;
  float: left;
  line-height: 120px;
  height: 120px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
}

.square:hover {    
  background: #979797;
  display: unset;
}

.square span {
  font-family: 'Itim';
  font-size: 60px;
  color: #ffffff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square-x-user {
  background: #70c368;
  text-shadow: 1px 1px 3px rgb(32, 32, 32);
}  
.square-o-user {
  background: #ffc34b;
  text-shadow: 1px 1px 3px rgb(32, 32, 32);
}

.square-x-user:hover {
  background: #80c879;
}  

.square-o-user:hover {
  background: #fac863;
}

.next-user {
  opacity: 0;
  height: 120px;
}

.next-user:hover {
  opacity: 1;
}

.next-user span {
  color: #d8d8d8;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto;
}

.hidden {
  display: none;
}